.box{
    width: 500px;
    height: 500px;
    margin: auto auto;
    display: grid;
    grid-template-columns:repeat(3,160px);
    grid-template-rows: repeat(3,160px);
    grid-gap: 10px;
    position: relative;

    &__cell{
        background: #f7cf7b;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.4s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 150px;
        color: #ff0000;

        &:hover{
            background: #b17900;
        }
    }
}

.tic-tac-bg{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: 0.6;
}


.win--title{
    color: #fff;
    position:absolute;
    left: 50%;
    font-size: 35px;
    transform: translate(-50%,50px);
    display: none;
}
.win-gif{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    width: 60%;
    visibility: hidden;
}

.no-gif{
    width: 40%;
}

.bx-circle{
    font-size: 110px;
    color: #464747;
}
.bx-x{
    font-size: 150px;
}

.reset{
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 100px;
    position:absolute;
    right: 20px;
    top: 20px;
    display: none;
    align-items:center;
    justify-content: center;
    background: none;
    border: none;
}

i{
    pointer-events: none;
}

